USE [master]
GO
/****** Object:  Database [ProjectPRJ301]    Script Date: 3/21/2024 8:55:01 PM ******/
CREATE DATABASE [ProjectPRJ301]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectPRJ301', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProjectPRJ301.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectPRJ301_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProjectPRJ301_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectPRJ301].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectPRJ301]
GO
USE [ProjectPRJ301]
GO
/****** Object:  Table [dbo].[question]    Script Date: 3/21/2024 8:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[question_content] [nvarchar](max) NOT NULL,
	[question_key] [bit] NOT NULL,
	[quiz_id] [int] NULL,
 CONSTRAINT [PK__question__2EC21549CE67C822] PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz]    Script Date: 3/21/2024 8:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz](
	[quiz_id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_name] [nvarchar](100) NOT NULL,
	[topic_id] [int] NULL,
	[questioner_id] [int] NULL,
	[is_public] [bit] NOT NULL,
	[enrol_key] [nvarchar](255) NULL,
 CONSTRAINT [PK__quiz__2D7053EC96D7F12D] PRIMARY KEY CLUSTERED 
(
	[quiz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quiz_answerer]    Script Date: 3/21/2024 8:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quiz_answerer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quiz_id] [int] NULL,
	[answerer_id] [int] NULL,
	[mark] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 3/21/2024 8:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__role__760965CC33644103] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topic]    Script Date: 3/21/2024 8:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topic](
	[topic_id] [int] IDENTITY(1,1) NOT NULL,
	[topic_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__topic__D5DAA3E99CA81D22] PRIMARY KEY CLUSTERED 
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/21/2024 8:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [FK__question__quiz_i__2E1BDC42] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quiz] ([quiz_id])
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [FK__question__quiz_i__2E1BDC42]
GO
ALTER TABLE [dbo].[quiz]  WITH CHECK ADD  CONSTRAINT [FK__quiz__enrol_key__2A4B4B5E] FOREIGN KEY([topic_id])
REFERENCES [dbo].[topic] ([topic_id])
GO
ALTER TABLE [dbo].[quiz] CHECK CONSTRAINT [FK__quiz__enrol_key__2A4B4B5E]
GO
ALTER TABLE [dbo].[quiz]  WITH CHECK ADD  CONSTRAINT [FK__quiz__questioner__2B3F6F97] FOREIGN KEY([questioner_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[quiz] CHECK CONSTRAINT [FK__quiz__questioner__2B3F6F97]
GO
ALTER TABLE [dbo].[quiz_answerer]  WITH CHECK ADD FOREIGN KEY([answerer_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[quiz_answerer]  WITH CHECK ADD  CONSTRAINT [FK__quiz_answ__quiz___30F848ED] FOREIGN KEY([quiz_id])
REFERENCES [dbo].[quiz] ([quiz_id])
GO
ALTER TABLE [dbo].[quiz_answerer] CHECK CONSTRAINT [FK__quiz_answ__quiz___30F848ED]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__role_id__25869641] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__role_id__25869641]
GO
USE [master]
GO
